<body>

  <div class="text-zone">
    <header class="titulo3" >
      <h1 class="about" >About MySelf</h1>
    </header>
    <div class="subsub">
      <div class="subtext">
        <p>Bom Sou o Tiago Piccinatto</p>
        <p>Nascido no interior de uma cidade do estado de Sao Paulo</p>
        <P>Desde de jovem aficionado por tecnologia</P>
        <p>Busco me tornar um desenvolvedor .Net Júnior e atualmente busco uma oportunidade</p>
        <p>Para entrar no mercado de trabalho.</p>
        <p>Venho me dedicando a adquirir conhecimentos.</p>
        <p>Eu gosto de aprender e me aperfeiçoar</p>
        <p>Eu gosto de trabalhar em equipe.</p>
      </div>
    </div>


  </div>



  <div class="posicao">
    <div class="firstname">
      <h1 class="ocupation2" >Tiago Piccinatto</h1>
      <h3 class="ocupation" >Desenvolvedor FullStack</h3>
    </div>
  </div>
















  <!--- SideBar -->
    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="bcv offcanvas-header">
      <h5 class="contato offcanvas-title" id="offcanvasExampleLabel">
     CONTATO
      </h5>
      <div class="contato" >
        <h6><i class="bi bi-telephone-outbound-fill"></i> +55 (15) 99604-0780</h6>
          <h6><i class="bi bi-envelope-fill"></i> tiagopiccinatto@outlook.com  </h6>
          <h6><i class="bi bi-geo-alt-fill"></i> São Paulo, Brasil</h6>
      </div>

      <button type=" button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <h5 class="CONHECIMENTOS" >CONHECIMENTOS</h5>
        <H6>Back-end: ASP.NET Core, C#, .NET 5, TypeScript.</H6>
        <h6>Front-end: Angular, HTML, CSS, PHP, JavaScript, Bootstrap.</h6>
        <h6>DataBase: SQL Server, MySQL, PostgreSQL, MongoDb.</h6>
        <h6>Versionamento: Git, GitHub.</h6>
        <h6>Tools: VSCode, Visual Studio, Postman.</h6>
      </div>
      <br>
      <div>
        <h5 class="CURSOS" >CURSOS</h5>
        <H6>Programação Orientada a Objetos .Net Dio.me</H6>
        <h6>Angular 13, Udemy Cursos</h6>
        <h6>MySQL Server Digital Inovation </h6>
        <h6>Versionamento: Git, GitHub. Udemy Cursos</h6>
      </div>
      <br>
      <div>
        <h5 class="Idioma" >Idioma</h5>
        <h6>Inglês Intermediario Udemy Cursos</h6>
      </div>
    </div>
  </div>

</body>
