<body>




  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">
     CONTATO
      </h5>
      <div class="contato" >
        <h6><i class="bi bi-telephone-outbound-fill"></i> +55 (15) 99604-0780</h6>
          <h6><i class="bi bi-envelope-fill"></i> tiagopiccinatto@outlook.com</h6>
          <h6><i class="bi bi-geo-alt-fill"></i> São Paulo, Brasil</h6>
      </div>

      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <h5>CONHECIMENTOS</h5>
        <H6>Back-end: ASP.NET Core, C#, .NET 5, TypeScript.</H6>
        <h6>Front-end: Angular, HTML, CSS, PHP, JavaScript, Bootstrap.</h6>
        <h6>DataBase: SQL Server, MySQL, PostgreSQL, MongoDb.</h6>
        <h6>Versionamento: Git, GitHub.</h6>
        <h6>Tools: VSCode, Visual Studio, Postman.</h6>
      </div>
      <br>
      <div>
        <h5>CURSOS</h5>
        <H6>Programação Orientada a Objetos .Net Dio.me</H6>
        <h6>Angular 13, Udemy Cursos</h6>
        <h6>MySQL Server Digital Inovation </h6>
        <h6>Versionamento: Git, GitHub. Udemy Cursos</h6>
      </div>
      <br>
      <div>
        <h5>Idioma</h5>
        <h6>Inglês Udemy Cursos</h6>
      </div>
    </div>
  </div>

</body>
