@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
  background-color: black;
  position: relative;
  height: 100vh;
  width: 100vw;
}


h1{
  color: white;
  display: flex;
  justify-content: flex-start;
}

.sidebar{
  background-color: rgb(236, 236, 236);
}

.contato{
  color: white;
  background-color: rgb(71, 32, 168);
}

.CONHECIMENTOS{
  background-color: rgb(71, 32, 168);
  color: white;
  height: 40px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.CURSOS{
  background-color: rgb(71, 32, 168);
  color: white;
  height: 40px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}


.Idioma{
  background-color: rgb(71, 32, 168);
  color: white;
  height: 40px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.bcv{
  background-color: rgb(71, 32, 168);
}

.firstname{
 display: flex;
 flex-direction: column;
}
.ocupation{
  color: rgb(238, 238, 238);
  font-size: calc(1em + 2vw);
}

.ocupation2{
  color: rgb(255, 255, 255);
  font-size: calc(1em + 4vw);
}
.posicao{
position: relative;
top: calc(1em + 11vw);
left: calc(1em + 4vw);
}

.textt{
  color:white;
}


.subtext{
  color:rgb(255, 255, 255);
  position: relative;
  top: calc(1em + 5vw);
  left: calc(1em + 3vw);
  height: 380px;
  width: 380px;
  background-color: rgb(61, 41, 151);
  border-radius: 10px;
  padding: 20px;
  padding-right: 20px;
}

.titulo3{
  position: relative;
  top: calc(1em + 4vw);
  left: calc(1em + 4vw);
  height: 60px;
  width: 280px;
  border-radius: 5px;
  padding: 4px;
  color: rgb(61, 41, 151);
  font-family: fantasy;
}

.about{
  color: rgb(61, 41, 151);
}
