@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
  background-color: black;
  position: relative;
  height: 100vh;
  width: 100vw;
}


h1{
  color: white;
  display: flex;
  justify-content: flex-start;
}

.sidebar{
  background-color: rgb(236, 236, 236);
}

.contato{
  color: white;
}

.bcv{
  background-color: rgb(71, 32, 168);
}

.firstname{
 display: flex;
 flex-direction: column;
}
.ocupation{
  color: rgb(238, 238, 238);
  font-size: calc(1em + 2vw);
}

.ocupation2{
  color: rgb(255, 255, 255);
  font-size: calc(1em + 4vw);
}
.posicao{
position: relative;
top: calc(1em + 34vw);
left: calc(1em + 4vw);
}
