<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<nav class="ok navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">⠀Dev Piccinatto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">⠀Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Contato⠀⠀</a>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="okk modal-header">
                  <h5 class="ioj modal-title" id="exampleModalLabel">Entre em Contato</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <a><i class="bi bi-telephone-fill "></i> <h5>Telefone:</h5><h5>+55 15 99604-0780</h5> </a>
                  <h5><i class="bi bi-envelope-fill"></i><h5>E-Mail:</h5>  <a href="tiagopiccinatto@outlook.com">tiagopiccinatto@outlook.com</a> </h5>
                  <h5><i class="bi bi-linkedin"></i> <h5>Linkedin:</h5>  <a href="https://www.linkedin.com/in/tiago-piccinatto">linkedin.com/in/tiago-piccinatto</a> </h5>
                  <h5><i class="bi bi-github"></i> <h5>GitHub:</h5>  <a href="https://github.com/TiagoPiccinatto">github.com/TiagoPiccinatto</a> </h5>
                </div>
                <div class="okku modal-footer">
                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Voltar</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
